body{
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    padding-top: 70px;
}

button{
    font-family: "Noto Sans KR", sans-serif;
}

code{
    font-family: "Nanum Gothic Coding", monospace;
}


@media only screen and (max-width: 768px) {
    #bot-descrption {
      background-image: url("https://jastinxyz.github.io/discord-bot-landing-page-web/assets/img/relaunch_day.svg");
      background-repeat: no-repeat;
    }
  }
