<!doctype html>
<html lang="ko" data-bs-theme="dark"> 
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AITG</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/loader.css">
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
    <meta
      property="og:image"
      content="https://macqueen0987.github.io/AITG_Release/imgs/aitg_logo.png" />
    <meta
      property="og:description"
      content="[AITG] Anton Is This a Game 의 클랜소개페이지에요" />
    <meta property="og:title" content="AITG 클랜" />
</head>
<body class="d-flex flex-column align-items-center flex-grow-1">
    <div hx-get="./includes/navbar.html" hx-trigger="load"></div>
    <main class="d-flex flex-column flex-grow-1 align-items-center w-100 mw-100" id="mainarea" hx-get="./pages/clan.html" hx-trigger="load">
        <div class="loader"></div>
    </main>
    <div hx-get="./includes/footer.html" hx-trigger="load"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
